/*footer*/ 

footer {
	padding-bottom: 30px;
}

.footer__top-line {
	flex-wrap: nowrap;
	justify-content: space-between;
}

.footer .menu li {
	position: static;
}

footer .menu a {
	font-size: 16px;
	padding: 0 12px;
}

footer .menu li.menu-item-has-children a:before {
    right: -3px;
	top: 19px;
}

footer .menu li:first-child a {
    padding-left: 12px;
}

footer .menu li:last-child a {
    padding-right: 0;
}

footer .menu li:hover .sub-menu {
    display: flex;
}

footer .sub-menu {
    justify-content: space-between;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 13px 22px;
    top: 35px;
    left: 11px;
    right: 0;
}

footer .sub-menu li a {
    line-height: 20px;
    border-bottom: 0;
    width: auto;
}

footer .menu .sub-menu  li:first-child a {
    padding-left: 0;
}

.footer__bottom-line {
	justify-content: space-between;
}

footer .free-call {
  font-size: 16px;
}

.footer__line {
	font-size: 18px;
	font-weight: 500;
}




/*media*/ 

@media screen and (min-width: 1921px) {
    
}

@media screen and (max-width: 1279px) {
	footer .menu a {
		font-size: 13px;
		padding: 0 7px;
	}
	
	.footer__lines {
		flex: 1;
		padding-left: 30px;
	}
	
	.footer__line {
		font-size: 16px;
	}
	
}

@media screen and (max-width: 1023px) {
	.footer__lines {
		text-align: right;
	}
}

@media screen and (max-width: 767px) {
	.footer__bottom-line {
		flex-direction: column;
	}
	
	footer .logo {
		margin-bottom: 15px;
	}
	
	.footer__lines {
		text-align: left;
		padding: 10px 0 0 0;
	}
}

@media screen and (max-width: 639px) {
	
}

