/*header*/

header {
    min-width: 320px;
    box-sizing: border-box;
	position: absolute;
	top: 30px;
	left: calc((100% - 1110px)/2);
	z-index: 1000;
}

.logo {
	display: block;
	background: url(../images/logo.png) no-repeat center;
	background-size: contain;
	width: 160px;
    height: 40px;
	text-decoration: none;
}

.phone{
    display: block;
    font-size: 18px;
	font-weight: 500;
	padding-left: 30px;
	position: relative;
}

.phone:before {
	content: "";
	background: url(../../images/001-call-answer.svg) no-repeat center;
	background-size: contain;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
}

.mail {
	font-size: 18px;
	position: relative;
	padding-left: 30px;
}

.mail:before {
    content: "";
    background: url(../../images/002-envelope.svg) no-repeat center;
	background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
}

.free-call {
	font-size: 18px;
}


/*media*/ 

@media screen and (max-width: 1279px) {
	
}

@media screen and (max-width: 1023px) {
	
}

@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 639px) {
   
}