#order {
    display: none;
	background: #000000;
    max-width: 360px;
    text-align: center;
}

.popup-caption {
	font-size: 20px;
	color: rgb(255,255,255);
	margin-bottom: 20px;
}



 

@media screen and (max-width: 1023px) {
	
	
}

@media screen and (max-width: 767px) {
	
	
	
}


@media screen and (max-width: 639px) {

	


}

