<div class="form-screen">
	<div class="wrapper">
		<div class="form-screen__caption">Вызвать замерщика</div>
		<div class="form-screen__after-caption">Это быстро и бесплатно! Вы можете узнать точную стоимость потолка уже сегодня.</div>
		<div class="form">
			<div role="form" class="wpcf7" id="wpcf7-f4-o1" lang="ru-RU" dir="ltr">
				<form class="wpcf7-form wpcf7-form_row">
					<span class="wpcf7-form-control-wrap wpcf7-form-control-wrap_row">
						<input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваше имя">
					</span>
					<span class="wpcf7-form-control-wrap wpcf7-form-control-wrap_row">
						<input type="text" name="E-mail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваш город, район *">
					</span>
					<span class="wpcf7-form-control-wrap wpcf7-form-control-wrap_row">
						<input type="tel" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Телефон *">
					</span>
					<span class="wpcf7-form-control-wrap wpcf7-form-control-wrap_row">
						<button class="form__button button button_pulse">Вызвать замерщика</button>
					</span>
				</form>
			</div>
		</div>
	</div>
</div>

