<div class="form inner-page__form">
	<div class="form__caption">Задать вопрос</div>
	<div class="wpcf7">
		<form class="wpcf7-form">
			<span class="wpcf7-form-control-wrap">
				<input type="text" name="username" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Имя">
			</span>
			<span class="wpcf7-form-control-wrap">
				<input type="text" name="userphone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Телефон">
			</span>
			<span class="wpcf7-form-control-wrap">
				<input type="text" name="usermail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="E-mail">
				<span class="wpcf7-not-valid-tip">Сообщение об ошибке</span>
			</span>
			<span class="wpcf7-form-control-wrap">
				<textarea name="quest" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваш вопрос"></textarea>
			</span>
			<span class="wpcf7-form-control-wrap wpcf7-form-control-wrap_button"> 
				<button type="submit" class="wpcf7-submitwl button button_big button-transparent wpcf7-submit">Отправить</button>
				<span class="ajax-loader"></span>
			</span>
			<span class="wpcf7-not-valid-tip"></span>
		</form>
	</div>
</div>