<div class="main-screen">
    <div class="background-mobile"></div>
	<div class="wrapper flex">
		<h1 class="main-screen__caption">Производим тактильную&nbsp;плитку с отгрузкой по&nbsp;России и&nbsp;СНГ</h1>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<h2 class="swiper-caption">Бетонная тактильная плитка</h2>
					<div class="swiper-img swiper-img_concrete"></div>
				</div>
				<div class="swiper-slide">
					<h2 class="swiper-caption">Пластиковая тактильная плитка</h2>
					<div class="swiper-img swiper-img_plastic"></div>
				</div>
				<div class="swiper-slide">
					<h2 class="swiper-caption">Тактильная лента</h2>
					<div class="swiper-img swiper-img_tape"></div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>	 
	</div>
</div>