<div class="wrapper">
	<nav class="navbar">
		<ul class="menu">
			<li class="menu-item-has-children">
				<a href="/">О заводе</a>
				<ul class="sub-menu">
					<li><a href="#">Сертификаты</a></li>
					<li><a href="#">Отзывы</a></li>
					<li><a href="#">ГОСТ</a></li> 
					<li><a href="#">Доставка</a></li>
					<li><a href="#">Гарантии</a></li> 
					<li><a href="#">Наши объекты</a></li>
					<li><a href="#">Контакты</a></li> 
				</ul>
			</li>
			<li >
				<a href="#">Тактильная плитка</a>
			</li>
			<li>
				<a href="#">Тактильная лента</a>
			</li>
			<li>
			   <a href="#">Тактильные индикаторы</a>
			</li>
			<li>
				<a href="#">Клей</a>
			</li>
			<li>
			   <a href="#order" data-fancybox="" >Получить смету</a>
			</li>
		</ul>
	</nav>
</div>